body, html {
  font-size: 14px;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 130%; }

h2 {
  font-size: 120%; }

h3 {
  font-size: 110%; }

h4 {
  font-size: 100%; }

h1 {
  margin: 1em 0; }

h2 {
  margin: 2em 0 0.5em 0;
  padding: 10px 20px;
  background-color: #000;
  color: #fff; }

h3 {
  margin: 1em 0 0.5em 0;
  padding: 10px 20px;
  background-color: #ddd;
  color: #000; }

h4 {
  margin: 1em 0 0.5em 0;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #ddd; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    margin-left: 10px;
    font-size: 76%;
    color: #999; }

.module-readme h1 {
  font-size: 100%;
  margin: 1em 0; }

.module-readme h2 {
  font-weight: bold;
  font-size: 130%;
  margin: 2em 0 0.5em 0;
  padding: 0.8em 0 0.2em;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: #000; }

.module-readme h3 {
  font-weight: bold;
  font-size: 120%;
  margin: 1em 0 0.5em 0;
  padding: 0.8em 0 0.2em;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
  color: #000; }

.module-readme h4 {
  font-weight: bold;
  font-size: 105%;
  margin: 1em 0 0.5em 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

.module-readme h5, .module-readme h6 {
  font-weight: bold;
  font-size: 100%;
  margin: 1em 0 0.5em 0; }

.module-readme-pics {
  margin-top: 3em; }
  .module-readme-pics p {
    text-align: center; }
  .module-readme-pics ul {
    margin: 1em 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    display: -ms-flexbox;
    display: flex; }
    .module-readme-pics ul li {
      list-style-type: none;
      margin-right: 20px; }
      .module-readme-pics ul li img {
        height: 120px;
        width: auto; }

ul {
  -webkit-padding-start: 1em; }

code {
  display: inline-block;
  color: #933;
  background-color: #f5f5f5;
  border: 1px solid #bbb; }

pre {
  padding: 0;
  margin: 0; }
  pre code {
    display: block;
    padding: 10px;
    overflow: auto;
    height: 140px; }

iframe {
  width: 100%;
  border: none;
  display: block;
  height: auto; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

header {
  background-color: #f5f5f5;
  padding: 10px 20px; }

.theme-main {
  width: calc(100% - 40px);
  margin: 0 auto; }

.module-content {
  width: 75%;
  padding: 0 10px;
  vertical-align: top; }
  .module-content li {
    list-style: none; }
  .module-content li a {
    display: block;
    text-align: center;
    background-color: #d9d9d9;
    text-decoration: none;
    color: #000; }
  .module-content ul.tabs li {
    float: left;
    border-bottom: 1px solid #000;
    line-height: 250%; }
  .module-content ul.tabs li.active a {
    background-color: #000;
    color: #FFF; }
  .module-content ul.panels {
    clear: both;
    z-index: -1;
    padding: 0 1em 1em 1em; }
    .module-content ul.panels > li.panel {
      display: none; }
    .module-content ul.panels > li.panel.active {
      display: block; }
  .module-content__h4-wrap {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 98%;
    margin: 20px auto; }
    .module-content__h4-wrap h4.module-content__h4-wrap-module-name {
      border: none;
      margin: 0 0 0.5em 0;
      font-size: large;
      padding: 0; }
  .module-content__readme-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin-top: 1em;
    border-bottom: 1px solid #aaa;
    padding: 0 1em 1em 1em;
    width: 100%; }
    .module-content__readme-wrap-thumb {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-right: 2em;
      vertical-align: middle;
      background-color: #eee;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
      .module-content__readme-wrap-thumb img {
        width: 100%;
        height: 100%; }
    .module-content__readme-wrap-body {
      padding: 0;
      width: calc(100% - 120px - 2em);
      -ms-flex-positive: 10;
          flex-grow: 10; }

.tabs {
  margin-top: 50px;
  padding: 1em;
  background-color: #fff;
  margin: 0 auto; }
  .tabs label {
    margin: 0; }

.tab_item {
  width: calc(100%/8);
  height: 30px;
  border-bottom: 1px solid #000;
  background-color: #d9d9d9;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .tab_item * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.tab_item:hover {
  opacity: 0.75; }

.module-preview .tab_item {
  background-color: #000;
  color: #fff; }

input[name="tab_item"] {
  display: none; }

.tab_content {
  display: none;
  clear: both;
  overflow: hidden; }

#preview_content iframe {
  border: 1px solid #bbb;
  border-bottom: none; }

#template:checked ~ #template_content,
#stylesheet:checked ~ #stylesheet_content,
#javascript:checked ~ #javascript_content,
#finalize:checked ~ #finalize_content {
  display: block; }

.tabs input:checked + .tab_item {
  background-color: #000;
  color: #fff; }

.pkg-name {
  font-size: 16px;
  font-weight: bold; }

*, :before, ::after {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

.content-full {
  width: 100%; }

.module-list__thumb {
  width: 40px;
  height: 40px; }

.module-list__cell-readme {
  padding: 0 !important; }
  .module-list__cell-readme > article {
    overflow: auto;
    max-height: 140px;
    padding: 10px;
    font-size: 8px; }

.module-list__cell-pics ul {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .module-list__cell-pics ul li {
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 0; }
    .module-list__cell-pics ul li img {
      height: 4em; }

.module-list table.px2-table {
  width: 100%;
  min-width: 400px; }
  .module-list table.px2-table thead th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .module-list table.px2-table tbody th,
  .module-list table.px2-table tbody td {
    overflow: auto; }

.theme-sidebar {
  position: relative;
  height: auto;
  display: inline-block;
  position: fixed;
  right: 0;
  overflow: auto;
  top: 0px;
  bottom: 0px;
  background-color: #fff;
  border-left: 1px solid #aaa;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px; }
  .theme-sidebar ul li {
    list-style-type: none; }
  .theme-sidebar::-webkit-scrollbar {
    width: 5px; }
  .theme-sidebar::-webkit-scrollbar-track {
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .theme-sidebar::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
    box-shadow: none; }
  .theme-sidebar__toggle-btn {
    position: fixed;
    top: 20px;
    margin-left: -50px;
    border-radius: 5px 0 0 5px;
    background: #333;
    opacity: 0.85;
    color: #FFF;
    padding: 30px 0;
    width: 50px;
    text-align: center;
    cursor: pointer; }

.theme-module-index {
  padding: 1em 2em; }
  .theme-module-index a {
    text-decoration: none;
    color: #00a0e6; }

.module-src-codes {
  border-radius: 0 0 5px 5px;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .module-src-codes > div {
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .module-src-codes > div > pre > code {
      height: 140px;
      overflow: auto; }
    .module-src-codes > div h5 {
      margin: 0; }
    .module-src-codes > div pre {
      margin-top: 0; }

.theme-counter {
  border: 1px solid #aaa;
  background-color: #f5f5f5;
  margin: 4em 10% 3em;
  padding: 1em; }
  .theme-counter__heading {
    font-weight: bold; }
  .theme-counter p, .theme-counter ul, .theme-counter li {
    margin: 0; }

footer {
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin: 3em 0 0 0; }
