// Modal Dialog
.px2-modal{
	background: rgba(223,223,223,0.5);

	&__close {
		button {
			border-color: #999;
			background-color: #111;
			color: #999;

			&::before,
			&::after {
				border-bottom: 1px solid #999;
			}
			&:hover {
				border: 1px solid #ccc;
				background-color: #000;
				&::before,
				&::after {
					border-bottom: 1px solid #ccc;
				}
			}
		}
	}

	&__dialog{
		color: $darkmode-text-color;
		background-color: $darkmode-background-color;
	}

	&__header{
		border-bottom: 1px solid #999;
		box-shadow: 0 5px 12px -5px rgba(255, 255, 255, .4);
	}

}
