<div{% if
    _ENV.vars["text-align"]
    or _ENV.vars.paragraph
%} class="{% if _ENV.vars.paragraph %}{{ paragraph }}{% endif %}{% if _ENV.vars["text-align"] %} px2-text-align-{{ _context["text-align"] }}{% endif %}"{% endif %}>
{{ main }}
</div>
