$px2-font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$px2-main-color: #002469;
$px2-text-color: #333;
$px2-background-color: #f9f7f5;

:root {
	--px2-main-color: $px2-main-color;
	--px2-text-color: $px2-text-color;
	--px2-background-color: $px2-background-color;
}

@layer px2style {

@import '../modules/basics/a/module.css.scss';
// @import './links/_links.css.scss';
// @import './lists/_lists.css.scss';
// @import './tables/_tables.css.scss';
// @import './notice/_notice.css.scss';
// @import './modal/_modal.css.scss';
// @import './styles/_utils.css.scss';
// @import './header/_header.css.scss';
// @import './form/_form.css.scss';
// @import './layouts/_grid.css.scss';

// // Darkmode
// .px2-darkmode {
// 	@import './themes/darkmode/_darkmode.css.scss';
// }

}
