$px2-font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", "Helvetica Neue", "Arial", sans-serif;
$px2-main-color: #00a0e6;
$px2-text-color: #333;
$px2-background-color: #f9f9f9;

:root {
	--px2-font-family: $px2-font-family;
	--px2-main-color: $px2-main-color;
	--px2-text-color: $px2-text-color;
	--px2-background-color: $px2-background-color;
}

@layer px2style {

// broccoli-module-std-document
@import '../modules/basics/a/module.css.scss';
@import '../modules/basics/blockquote/module.css.scss';
@import '../modules/basics/image/module.css.scss';
@import '../modules/basics/table/module.css.scss';
@import '../modules/basics/text/module.css.scss';
@import '../modules/grids/grid/module.css.scss';
@import '../modules/headings/hx-simple/module.css.scss';
@import '../modules/interactives/accordion/module.css.scss';
@import '../modules/interactives/carousel/module.css.scss';
@import '../modules/interactives/tabs/module.css.scss';
@import '../modules/lists/changelog-v2/module.css.scss';
@import '../modules/lists/dl-module/module.css.scss';
@import '../modules/lists/index/module.css.scss';
@import '../modules/lists/ul-links/module.css.scss';
@import '../modules/lists/ul-media-list/module.css.scss';
@import '../modules/lists/ul-module/module.css.scss';
@import '../modules/medias/float-v2/module.css.scss';
@import '../modules/medias/image-media/module.css.scss';
@import '../modules/notice/notice/module.css.scss';
@import '../modules/utils/button/module.css.scss';
@import '../modules/utils/p/module.css.scss';
@import '../modules/utils/responsive/module.css.scss';
@import '../modules/utils/viewport-fit/module.css.scss';


// px2style
@import './_src/form/_form.css.scss';
@import './_src/header/_header.css.scss';
@import './_src/layouts/_grid.css.scss';
@import './_src/links/_links.css.scss';
@import './_src/lists/_lists.css.scss';
@import './_src/modal/_modal.css.scss';
@import './_src/notice/_notice.css.scss';
@import './_src/styles/_utils.css.scss';
@import './_src/tables/_tables.css.scss';


// Darkmode
.px2-darkmode {
	@import './_src/themes/darkmode/_darkmode.css.scss';
}

}
