@mixin px2-grid__col(){
    margin: 0 1rem;
    box-sizing: border-box;
}
.px2-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -1rem;
    box-sizing: border-box;

    &__col-1of1{
        @include px2-grid__col();
        width: calc( 100% - 2rem );
    }
    &__col-1of2{
        @include px2-grid__col();
        width: calc( 50% - 2rem );
    }
    &__col-1of3{
        @include px2-grid__col();
        width: calc( 33.33% - 2rem );
    }
    &__col-2of3{
        @include px2-grid__col();
        width: calc( 66.66% - 2rem );
    }
    &__col-1of4{
        @include px2-grid__col();
        width: calc( 25% - 2rem );
    }
    &__col-1of5{
        @include px2-grid__col();
        width: calc( 20% - 2rem );
    }
    &__col-2of5{
        @include px2-grid__col();
        width: calc( 40% - 2rem );
    }
    &__col-3of5{
        @include px2-grid__col();
        width: calc( 60% - 2rem );
    }
    &__col-4of5{
        @include px2-grid__col();
        width: calc( 80% - 2rem );
    }
    &__col-1of6{
        @include px2-grid__col();
        width: calc( 16.66% - 2rem );
    }
}
