// Buttons
.px2-btn{
	display: inline-block;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
	border: 1px solid #e5e5e5;
    padding: .375rem .75rem;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	align-items: stretch;
	transition:
		color 0.1s,
		background-color 0.1s
	;

	&:focus,
	&:hover{
		text-decoration: none;
		font-weight: normal;
		color: #333;
		background-color: #f0f0f0;
	}
	&:focus{
		color: #333;
		background-color: #f0f0f0;
	}
	&:hover{
		background-color: #f0f0f0;
	}
	&:active{
		background-color: #f0f0f0; // fallback
		background-color: var(--px2-text-color, #f0f0f0);
		color: #333; // fallback
		color: var(--px2-background-color, #333);
		box-shadow: inset 0 3px 15px rgba(0,0,0,0.3);
	}
}

// Intention
.px2-btn{

	&.px2-btn--primary{
		border-color: #00a0e6;
		background-color: #f5fbfe; // rgba(0,160,230,0.05);
		color: #00a0e6;
		&:focus,
		&:hover{
			background-color: #d9f1fb; // rgba(0,160,230,0.15);
		}
		&:hover{
			background-color: #ccecfa; // rgba(0,160,230,0.3);
		}
		&:active{
			background-color: #00a0e6;
			color: #fff;
		}
	}
	&.px2-btn--secondary{
		border-color: #f0f0f0; // fallback
		border-color: var(--px2-text-color, #f0f0f0);
		background: #333; // fallback
		background: var(--px2-background-color, #333);
		color: #f0f0f0; // fallback
		color: var(--px2-text-color, #f0f0f0);
		&:focus,
		&:hover{
			background-color: #f3f3f3;
		}
		&:hover{
			background-color: #f0f0f0;
		}
		&:active{
			background-color: #f0f0f0; // fallback
			background-color: var(--px2-text-color, #f0f0f0);
			color: #333; // fallback
			color: var(--px2-background-color, #333);
		}
	}
	&.px2-btn--danger{
		border-color: #e86a60;
		background-color: #fdf8f8; // rgba(232,106,96,0.05);
		color: #e86a60;
		&:focus,
		&:hover{
			background-color: #fce9e7; // rgba(232,106,96,0.15);
		}
		&:hover{
			background-color: #fae1df; // rgba(232,106,96,0.3);
		}
		&:active{
			background-color: #e86a60;
			color: #fff;
		}
	}
	&.px2-btn--download{
		border-color: #4ad64d;
		background-color: #f7fcf7; // rgba(74,214,77,0.05);
		color: #4ad64d;
		&:focus,
		&:hover{
			background-color: #e4f9e4; // rgba(74,214,77,0.15);
		}
		&:hover{
			background-color: #dbf7db; // rgba(74,214,77,0.3);
		}
		&:active{
			background-color: #4ad64d;
			color: #fff;
		}
	}

	&[disabled]{
		border-color: #ddd;
		background-color: rgba(153,153,153,0.05);
		color: #ddd;
		cursor: default;
		&:focus,
		&:hover,
		&:active{
			border-color: #ddd;
			background-color: rgba(153,153,153,0.05);
			color: #ddd;
			cursor: default;
			box-shadow: 0 2px 0px rgba(0,0,0,0.1);
		}
	}
}


// Toggle ON
.px2-btn{
	&--toggle-on{
		box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.25);
		opacity: 0.7;

		&:focus,
		&:hover,
		&:active {
			box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.25);
		}

		&[disabled]{
			box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.25);
			&:focus,
			&:hover,
			&:active {
				box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

// Sizing
.px2-btn{

	&--sm{
		font-size:0.8em;
	}
	&--lg{
		font-size:1.2em;
	}
	&--block{
		display: block;
		width: 100%;
	}

}
